.profile {
    display: flex;
    justify-content: center;
  }
  
  .profile__form {
    max-width: 410px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 74px 0 0;
  }
  
  .profile__welcome {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    margin: 0 0 110px;
  }
  
  .profile__input {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2px;
  }
  
  .profile__text {
    width: 100%;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    margin: 0;
    padding: 0 0 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #E8E8E8;
  }
  
  .profile__text:first-of-type {
    grid-row: 1;
    grid-column: 1;
  }
  
  .profile__text:last-of-type {
    grid-row: 2;
    grid-column: 1;
    border: none;
    padding: 16px 0 0;
  }
  
  .profile__field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid #E8E8E8;
  }
  
  .profile__field:last-of-type {
    border: none;
  }
  
  .profile__field_type_name {
    grid-row: 1;
    grid-column: 2;
  }
  
  .profile__field_type_email {
    grid-row: 2;
    grid-column: 2;
    justify-content: flex-end;
    padding: 16px 0 0;
  }
  
  .profile__settings {
    width: 100%;
    outline: none;
    border: none;
    text-align: end;
    font-size: 11px;
    line-height: 13px;
    margin: 0;
    padding: 0;
  }
  
  .profile__button {
    border: none;
    background-color: transparent;
    color: #000;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    margin: 220px 0 16px;
    transition: opacity .2s linear;
  }
  
  .profile__button:hover {
    opacity: .6;
    cursor: pointer;
  }
  
  .profile__button:disabled {
    opacity: .3;
  }
  
  .profile__button_logout{
    margin: 0 0 10px;
    color: #FF3055;
  }
  
  .profile__link:hover {
    opacity: .6;
    cursor: pointer;
  }
  
  .profile__error {
    color: #FF3055;
    margin-top: 10px;
    font-size: 12px;
    line-height: 12px;
  }
  
  .profile__button_disabled {
    color: #8b8b8b;
    cursor: default;
  }

  .profile__edit-status {
    color: #2BE080;
    margin-top: 30px;
    text-align: center;
  }

  @media screen and (max-width: 800px) {
    .profile__form {
      padding: 236px 0 0;
      margin: 0;
    }
  
    .profile__welcome {
      margin: 0 0 96px;
    }
  
    .profile__button {
      margin: 210px 0 16px;
    }
  }
  
  @media screen and (max-width: 540px) {
    .profile__form {
      max-width: 260px;
      padding: 79px 0 0;
    }
  
    .profile__welcome {
      margin: 0 0 80px;
    }
  
    .profile__button {
      font-size: 12px;
    }
  
    .profile__link {
      font-size: 12px;
      line-height: 15px;
    }
  }