.logo {
    max-height: 38px;
    cursor: pointer;
}

.header {
    max-width: 1280px;
    min-height: 74px;
    margin: 0 auto;
    padding: 18px 70px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 540px) {
    .header {
        padding: 18px 14px 14px;
    }
}